# sync checkpoint state - machine-local, recreated on every run
.sync-state.json

# notify-new-events.sh runtime state - machine-local, recreated on every run
.last-run.json
.events.known-ids

# macOS
.DS_Store

# editor
.idea
.vscode/settings.json

# python
__pycache__/
*.pyc
.venv/
venv/

# env
.env
.env.local
